body {
    background-color: black;
}


.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #DC4C46;
    width: 343px;
    height: 500px;
    border-radius: 25px;
    margin-top: 73px;
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 25px;
    overflow-y: scroll;
}





